/*
Copyright © 2023 SurvExE_Pc

Licence:
https://load-ing.pages.dev/public/read/LICENSE.txt

Github:
https://github.com/SurvExE_Pc
*/
body
{
 width:100%;
 margin:0 auto;
 padding:0px;
 font-family:helvetica;
 background-color:#000000;
}
#wrapper
{
 position: absolute;
 left: 50%
 top: 50%;
 transform: (-50%, -50%);
}
/*#player_wrapper
{
 position:relative;
 width:400px;
 margin-left:300px;
}*/
#video_player
{
 width:1000px;
 position: relative;
 left: 50%
 transform: (-50%);
}
#player_controls
{
 top:98%;
 position:absolute;
 background-color:black;
 width:100%;
 padding:5px;
 box-sizing:border-box;
 left: 25%;
 transform: (-98%, -25%);
}
input[type="image"]
{
 float:left;
 height:20px;
 margin-left:2px;
 margin-right:5px;
 margin-top:2px;
}
#vol_img
{
 margin-left:150px;
 width:20px;
}